# Arquivos de log
logs
*.log

# Dependências
node_modules/

# Saída de build do Vite
dist
dist-ssr

# Arquivos de cache e de IDE
.cache
.parcel-cache
.idea/
.vscode/
*.tsbuildinfo

# Arquivos de ambiente local (MUITO IMPORTANTE para segurança)
.env
.env.local
.env.*.local

# Arquivos de configuração e temporários da Cloudflare
.wrangler/
wrangler.json
