@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Stencil Army';
    src: url('/fonts/stencil-army.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'teletype';
    src: url('/fonts/teletype.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    @apply bg-black text-green-400 font-mono;
}

@layer base {
    h1 {
        @apply font-stencil;
    }
    h2 {
        @apply font-teletype;
    }
}
